//**************************/
//*  Current theme colors  */
//**************************/

// BackGrounds
$base-color: #DDE4C7;
// Destac colors
$destac-color: #6FB4F0;
// Font colors 
$font-color: #3F3E45;
// Border radius 
$defalt-radius: 10;
